
.khung1{
    padding: 0px;
    margin: 5px;
    list-style-type:none;
    border-radius:3px ;
    box-shadow: 0 0 2px gray;
    height: 245px;
    border: 2px solid #000080;

}
.khung1{
    margin-top: 20px;
    margin-bottom: 55px;
}

.khung1 a{
    background: url(picture.png ) no-repeat 10px center ;
    display: block ;
    border-bottom: 1px dotted #000080;
    color: #000080;
    font-size: bold;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
    padding-left: 4px;

}
.khung1 a:hover{
    background: url(123.png)  no-repeat 10px center ;
    border-bottom : 1px dotted while ;
    background-color: #000080;
    color:aliceblue;
    font-weight: bold ;
    
}
h3{
    padding-top: 15px;
    padding-bottom: 10px;
    color: #000080;
    font-variant: small-caps;
    font-size: 20px;
    text-align: center; 
    font-weight: bold;
}
h3:hover{
    color: gold ;
}


