.ykien{
    margin: 20px 20px;
}
#buttongopy{
    margin: 20px 5px;
    height: 50px;
    width: 80px;
    color: white;
    border-radius: 20px ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: #009600;
    font-size: 20px;
}
#buttongopy:hover{
    background-color: cyan;
    color: red;
}
#hoidap{
    background-color: beige ;
    width: 800px;
    height: 800px;
    border: solid black 1px;
    margin: 10px 25px;
}
#cauhoi{
    padding: 20px 20px 20px 80px;
}
#text1{
    margin-right: 25px;
}
